<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
              crossorigin="anonymous">
         
          <link rel='stylesheet' href='stylesheets/style.css' />



  </head>


  <body>
    <Center class="h1"><p>Lab2</p></Center>
    <div class="image">
        <img src="images/32235305_1826590540977400_4798492545770323968_n.jpg">

    </div>

    <div class="container">
           

                <div class="jumbotron">
                    <h1>Full Name- Jagjeet Singh Dhindsa</h1>
                <h2> Age-23 </h2>
                <h2> College Program- Interactive Media Design Web</h2>
                        </div>
              <div class="text">
            <p>My name is Jagjeet Singh Dhindsa and I was born on the 18th of January, 1996 in Amritsar,
                India. My parents are Gurbax Singh and Harjeet Kaur. I am a very big fan of basketball
                and even i played for my National team in India. I have always been a sporty person, no matter which sport
            i am always there to play it. My father was also a sports person and is now having his own successful business in India.
            My mother is a housewife and i have three elder sisters and they are happily married. I came to Canada Last year.</p>
            <p> Since then i am in love with this Beautiful country and the people over here. Exploring other religions and cultures have always
            been my favourite thing to do in my life and i am very well enjoying it.</p>

        </div>

               
          </div>
    <script src="https://code.jquery.com/jquery‑3.3.1.min.js" integrity="sha256‑
FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384‑
smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
<script src="style.js"></script>
  </body>
</html>
